In [2]:
import pandas as pd

df = pd.read_csv("/Users/jonathanzeh/Library/CloudStorage/OneDrive-Personal/BA_Thesis/BA_coding/datasets/eikon_data/stock_level_data/stock_level_data.csv")

#remove all rows where the date column is empty
df = df[df["date"].notna()]

#date format
df['date'] = pd.to_datetime(df['date'])

display(df)

,stock_RIC,date,price,return1D,return1Wk,return1Mo,volume,turnover,market_cap,gross_profit,price_to_BV,bid_price,ask_price
21,1U1.DE,2009-12-30 00:00:00+00:00,5.050000,1.814516,-0.980392,-4.716981,0.0,7.655200e+05,2.686045e+08,78255000.0,2.068073,4.930000,4.980000
22,1U1.DE,2010-01-04 00:00:00+00:00,4.960000,-1.782178,-2.745098,-6.238185,293192.0,1.450690e+06,2.638175e+08,78255000.0,2.031216,4.940000,4.949000
23,1U1.DE,2010-01-05 00:00:00+00:00,4.920000,-0.806452,-0.806452,-6.994329,427069.0,2.086250e+06,2.616900e+08,78255000.0,2.014835,4.900000,4.920000
24,1U1.DE,2010-01-06 00:00:00+00:00,4.780000,-2.845528,-5.346535,-9.640832,355622.0,1.710380e+06,2.542435e+08,78255000.0,1.957502,4.780000,4.790000
25,1U1.DE,2010-01-07 00:00:00+00:00,4.640000,-2.928870,-8.118812,-11.619048,933668.0,4.349370e+06,2.467970e+08,78255000.0,1.900170,4.672000,4.688000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3587045,ZURN.S,2023-12-21 00:00:00+00:00,467.319907,-0.542005,-1.166966,1.685523,194600.0,9.099058e+07,6.839496e+10,NaN,3.183095,467.213794,467.319907
3587046,ZURN.S,2023-12-22 00:00:00+00:00,467.883798,0.068120,-0.854893,2.108434,157934.0,7.391228e+07,6.847749e+10,NaN,3.187497,467.883798,467.989966
3587047,ZURN.S,2023-12-27 00:00:00+00:00,468.655209,-0.476515,-0.948509,0.642497,142786.0,6.696645e+07,6.859039e+10,NaN,3.219729,468.548357,468.655209
3587048,ZURN.S,2023-12-28 00:00:00+00:00,466.683790,-0.638395,-1.044505,0.206944,161069.0,7.540347e+07,6.830186e+10,NaN,3.193492,466.683790,466.790876
3587049,ZURN.S,2023-12-29 00:00:00+00:00,473.362743,0.871960,-0.249603,0.941447,145296.0,6.866843e+07,6.927936e+10,NaN,3.232439,473.255062,473.362743