In [7]:
import pandas as pd
df = pd.read_csv("/Users/jonathanzeh/Library/CloudStorage/OneDrive-Personal/BA_Thesis/BA_coding/datasets/eikon_data/index_constituents_data/formated_constituents_stoxx_europe_600.csv")

df

              date        stock_RIC  index_member
0       2010-01-31  0MW4EUR.xbo^K15             0
1       2010-02-28  0MW4EUR.xbo^K15             0
2       2010-03-31  0MW4EUR.xbo^K15             0
3       2010-04-30  0MW4EUR.xbo^K15             0
4       2010-05-31  0MW4EUR.xbo^K15             0
...            ...              ...           ...
197387  2023-09-29           ZURN.S             1
197388  2023-10-31           ZURN.S             1
197389  2023-11-30           ZURN.S             1
197390  2023-12-29           ZURN.S             1
197391  2024-01-31           ZURN.S             1

[197392 rows x 3 columns]

In [16]:
#unqiue companies
print(1168*12*14)

#unique observations
print(len(pd.unique(df["stock_RIC"])))

196224
1168

In [17]:
start_date = '2010-01-01'
end_date = '2024-01-01'

import datetime

print(datetime.date(start_date) < datetime.date(end_date))

TypeError: 'str' object cannot be interpreted as an integer

In [2]:
import pandas as pd

def get_first_days(start_date_s, end_date_s):
    # Create a date range from start date to end date with monthly frequency, starting at the first day of each month
    date_range_s = pd.date_range(start=start_date_s, end=end_date_s, freq='MS')

    last_days = (date_range_s + pd.DateOffset(months=1)) - pd.DateOffset(days=1)
    date_range_e = [date.strftime('%Y-%m-%d') for date in last_days]

    return list(zip(date_range_s, date_range_e))

# Define the date range
dates = get_first_days('2010-01-01', '2023-12-01', '2010-01-01', '2024-01-01')
print(dates)

[(Timestamp('2010-01-01 00:00:00'), '2010-01-31'), (Timestamp('2010-02-01 00:00:00'), '2010-02-28'), (Timestamp('2010-03-01 00:00:00'), '2010-03-31'), (Timestamp('2010-04-01 00:00:00'), '2010-04-30'), (Timestamp('2010-05-01 00:00:00'), '2010-05-31'), (Timestamp('2010-06-01 00:00:00'), '2010-06-30'), (Timestamp('2010-07-01 00:00:00'), '2010-07-31'), (Timestamp('2010-08-01 00:00:00'), '2010-08-31'), (Timestamp('2010-09-01 00:00:00'), '2010-09-30'), (Timestamp('2010-10-01 00:00:00'), '2010-10-31'), (Timestamp('2010-11-01 00:00:00'), '2010-11-30'), (Timestamp('2010-12-01 00:00:00'), '2010-12-31'), (Timestamp('2011-01-01 00:00:00'), '2011-01-31'), (Timestamp('2011-02-01 00:00:00'), '2011-02-28'), (Timestamp('2011-03-01 00:00:00'), '2011-03-31'), (Timestamp('2011-04-01 00:00:00'), '2011-04-30'), (Timestamp('2011-05-01 00:00:00'), '2011-05-31'), (Timestamp('2011-06-01 00:00:00'), '2011-06-30'), (Timestamp('2011-07-01 00:00:00'), '2011-07-31'), (Timestamp('2011-08-01 00:00:00'), '2011-08-31'), (Timestamp('2011-09-01 00:00:00'), '2011-09-30'), (Timestamp('2011-10-01 00:00:00'), '2011-10-31'), (Timestamp('2011-11-01 00:00:00'), '2011-11-30'), (Timestamp('2011-12-01 00:00:00'), '2011-12-31'), (Timestamp('2012-01-01 00:00:00'), '2012-01-31'), (Timestamp('2012-02-01 00:00:00'), '2012-02-29'), (Timestamp('2012-03-01 00:00:00'), '2012-03-31'), (Timestamp('2012-04-01 00:00:00'), '2012-04-30'), (Timestamp('2012-05-01 00:00:00'), '2012-05-31'), (Timestamp('2012-06-01 00:00:00'), '2012-06-30'), (Timestamp('2012-07-01 00:00:00'), '2012-07-31'), (Timestamp('2012-08-01 00:00:00'), '2012-08-31'), (Timestamp('2012-09-01 00:00:00'), '2012-09-30'), (Timestamp('2012-10-01 00:00:00'), '2012-10-31'), (Timestamp('2012-11-01 00:00:00'), '2012-11-30'), (Timestamp('2012-12-01 00:00:00'), '2012-12-31'), (Timestamp('2013-01-01 00:00:00'), '2013-01-31'), (Timestamp('2013-02-01 00:00:00'), '2013-02-28'), (Timestamp('2013-03-01 00:00:00'), '2013-03-31'), (Timestamp('2013-04-01 00:00:00'), '2013-04-30'), (Timestamp('2013-05-01 00:00:00'), '2013-05-31'), (Timestamp('2013-06-01 00:00:00'), '2013-06-30'), (Timestamp('2013-07-01 00:00:00'), '2013-07-31'), (Timestamp('2013-08-01 00:00:00'), '2013-08-31'), (Timestamp('2013-09-01 00:00:00'), '2013-09-30'), (Timestamp('2013-10-01 00:00:00'), '2013-10-31'), (Timestamp('2013-11-01 00:00:00'), '2013-11-30'), (Timestamp('2013-12-01 00:00:00'), '2013-12-31'), (Timestamp('2014-01-01 00:00:00'), '2014-01-31'), (Timestamp('2014-02-01 00:00:00'), '2014-02-28'), (Timestamp('2014-03-01 00:00:00'), '2014-03-31'), (Timestamp('2014-04-01 00:00:00'), '2014-04-30'), (Timestamp('2014-05-01 00:00:00'), '2014-05-31'), (Timestamp('2014-06-01 00:00:00'), '2014-06-30'), (Timestamp('2014-07-01 00:00:00'), '2014-07-31'), (Timestamp('2014-08-01 00:00:00'), '2014-08-31'), (Timestamp('2014-09-01 00:00:00'), '2014-09-30'), (Timestamp('2014-10-01 00:00:00'), '2014-10-31'), (Timestamp('2014-11-01 00:00:00'), '2014-11-30'), (Timestamp('2014-12-01 00:00:00'), '2014-12-31'), (Timestamp('2015-01-01 00:00:00'), '2015-01-31'), (Timestamp('2015-02-01 00:00:00'), '2015-02-28'), (Timestamp('2015-03-01 00:00:00'), '2015-03-31'), (Timestamp('2015-04-01 00:00:00'), '2015-04-30'), (Timestamp('2015-05-01 00:00:00'), '2015-05-31'), (Timestamp('2015-06-01 00:00:00'), '2015-06-30'), (Timestamp('2015-07-01 00:00:00'), '2015-07-31'), (Timestamp('2015-08-01 00:00:00'), '2015-08-31'), (Timestamp('2015-09-01 00:00:00'), '2015-09-30'), (Timestamp('2015-10-01 00:00:00'), '2015-10-31'), (Timestamp('2015-11-01 00:00:00'), '2015-11-30'), (Timestamp('2015-12-01 00:00:00'), '2015-12-31'), (Timestamp('2016-01-01 00:00:00'), '2016-01-31'), (Timestamp('2016-02-01 00:00:00'), '2016-02-29'), (Timestamp('2016-03-01 00:00:00'), '2016-03-31'), (Timestamp('2016-04-01 00:00:00'), '2016-04-30'), (Timestamp('2016-05-01 00:00:00'), '2016-05-31'), (Timestamp('2016-06-01 00:00:00'), '2016-06-30'), (Timestamp('2016-07-01 00:00:00'), '2016-07-31'), (Timestamp('2016-08-01 00:00:00'), '2016-08-31'), (Timestamp('2016-09-01 00:00:00'), '2016-09-30'), (Timestamp('2016-10-01 00:00:00'), '2016-10-31'), (Timestamp('2016-11-01 00:00:00'), '2016-11-30'), (Timestamp('2016-12-01 00:00:00'), '2016-12-31'), (Timestamp('2017-01-01 00:00:00'), '2017-01-31'), (Timestamp('2017-02-01 00:00:00'), '2017-02-28'), (Timestamp('2017-03-01 00:00:00'), '2017-03-31'), (Timestamp('2017-04-01 00:00:00'), '2017-04-30'), (Timestamp('2017-05-01 00:00:00'), '2017-05-31'), (Timestamp('2017-06-01 00:00:00'), '2017-06-30'), (Timestamp('2017-07-01 00:00:00'), '2017-07-31'), (Timestamp('2017-08-01 00:00:00'), '2017-08-31'), (Timestamp('2017-09-01 00:00:00'), '2017-09-30'), (Timestamp('2017-10-01 00:00:00'), '2017-10-31'), (Timestamp('2017-11-01 00:00:00'), '2017-11-30'), (Timestamp('2017-12-01 00:00:00'), '2017-12-31'), (Timestamp('2018-01-01 00:00:00'), '2018-01-31'), (Timestamp('2018-02-01 00:00:00'), '2018-02-28'), (Timestamp('2018-03-01 00:00:00'), '2018-03-31'), (Timestamp('2018-04-01 00:00:00'), '2018-04-30'), (Timestamp('2018-05-01 00:00:00'), '2018-05-31'), (Timestamp('2018-06-01 00:00:00'), '2018-06-30'), (Timestamp('2018-07-01 00:00:00'), '2018-07-31'), (Timestamp('2018-08-01 00:00:00'), '2018-08-31'), (Timestamp('2018-09-01 00:00:00'), '2018-09-30'), (Timestamp('2018-10-01 00:00:00'), '2018-10-31'), (Timestamp('2018-11-01 00:00:00'), '2018-11-30'), (Timestamp('2018-12-01 00:00:00'), '2018-12-31'), (Timestamp('2019-01-01 00:00:00'), '2019-01-31'), (Timestamp('2019-02-01 00:00:00'), '2019-02-28'), (Timestamp('2019-03-01 00:00:00'), '2019-03-31'), (Timestamp('2019-04-01 00:00:00'), '2019-04-30'), (Timestamp('2019-05-01 00:00:00'), '2019-05-31'), (Timestamp('2019-06-01 00:00:00'), '2019-06-30'), (Timestamp('2019-07-01 00:00:00'), '2019-07-31'), (Timestamp('2019-08-01 00:00:00'), '2019-08-31'), (Timestamp('2019-09-01 00:00:00'), '2019-09-30'), (Timestamp('2019-10-01 00:00:00'), '2019-10-31'), (Timestamp('2019-11-01 00:00:00'), '2019-11-30'), (Timestamp('2019-12-01 00:00:00'), '2019-12-31'), (Timestamp('2020-01-01 00:00:00'), '2020-01-31'), (Timestamp('2020-02-01 00:00:00'), '2020-02-29'), (Timestamp('2020-03-01 00:00:00'), '2020-03-31'), (Timestamp('2020-04-01 00:00:00'), '2020-04-30'), (Timestamp('2020-05-01 00:00:00'), '2020-05-31'), (Timestamp('2020-06-01 00:00:00'), '2020-06-30'), (Timestamp('2020-07-01 00:00:00'), '2020-07-31'), (Timestamp('2020-08-01 00:00:00'), '2020-08-31'), (Timestamp('2020-09-01 00:00:00'), '2020-09-30'), (Timestamp('2020-10-01 00:00:00'), '2020-10-31'), (Timestamp('2020-11-01 00:00:00'), '2020-11-30'), (Timestamp('2020-12-01 00:00:00'), '2020-12-31'), (Timestamp('2021-01-01 00:00:00'), '2021-01-31'), (Timestamp('2021-02-01 00:00:00'), '2021-02-28'), (Timestamp('2021-03-01 00:00:00'), '2021-03-31'), (Timestamp('2021-04-01 00:00:00'), '2021-04-30'), (Timestamp('2021-05-01 00:00:00'), '2021-05-31'), (Timestamp('2021-06-01 00:00:00'), '2021-06-30'), (Timestamp('2021-07-01 00:00:00'), '2021-07-31'), (Timestamp('2021-08-01 00:00:00'), '2021-08-31'), (Timestamp('2021-09-01 00:00:00'), '2021-09-30'), (Timestamp('2021-10-01 00:00:00'), '2021-10-31'), (Timestamp('2021-11-01 00:00:00'), '2021-11-30'), (Timestamp('2021-12-01 00:00:00'), '2021-12-31'), (Timestamp('2022-01-01 00:00:00'), '2022-01-31'), (Timestamp('2022-02-01 00:00:00'), '2022-02-28'), (Timestamp('2022-03-01 00:00:00'), '2022-03-31'), (Timestamp('2022-04-01 00:00:00'), '2022-04-30'), (Timestamp('2022-05-01 00:00:00'), '2022-05-31'), (Timestamp('2022-06-01 00:00:00'), '2022-06-30'), (Timestamp('2022-07-01 00:00:00'), '2022-07-31'), (Timestamp('2022-08-01 00:00:00'), '2022-08-31'), (Timestamp('2022-09-01 00:00:00'), '2022-09-30'), (Timestamp('2022-10-01 00:00:00'), '2022-10-31'), (Timestamp('2022-11-01 00:00:00'), '2022-11-30'), (Timestamp('2022-12-01 00:00:00'), '2022-12-31'), (Timestamp('2023-01-01 00:00:00'), '2023-01-31'), (Timestamp('2023-02-01 00:00:00'), '2023-02-28'), (Timestamp('2023-03-01 00:00:00'), '2023-03-31'), (Timestamp('2023-04-01 00:00:00'), '2023-04-30'), (Timestamp('2023-05-01 00:00:00'), '2023-05-31'), (Timestamp('2023-06-01 00:00:00'), '2023-06-30'), (Timestamp('2023-07-01 00:00:00'), '2023-07-31'), (Timestamp('2023-08-01 00:00:00'), '2023-08-31'), (Timestamp('2023-09-01 00:00:00'), '2023-09-30'), (Timestamp('2023-10-01 00:00:00'), '2023-10-31'), (Timestamp('2023-11-01 00:00:00'), '2023-11-30'), (Timestamp('2023-12-01 00:00:00'), '2023-12-31')]

In [3]:
import pandas as pd

def get_first_last_days(start_date_s, end_date_s):
    # Create a date range from start date to end date with monthly frequency, starting at the first day of each month
    date_range_s = pd.date_range(start=start_date_s, end=end_date_s, freq='MS')

    # Calculate the last days by finding the end of the month for each start date
    last_days = (date_range_s + pd.DateOffset(months=1)) - pd.DateOffset(days=1)
    
    formatted_range_s = [date.strftime('%Y-%m-%d') for date in date_range_s]
    formatted_range_e = [date.strftime('%Y-%m-%d') for date in last_days]

    return list(zip(formatted_range_s, formatted_range_e))

dates = get_first_last_days('2010-01-01', '2023-12-01')
print(dates)

[('2010-01-01', '2010-01-31'), ('2010-02-01', '2010-02-28'), ('2010-03-01', '2010-03-31'), ('2010-04-01', '2010-04-30'), ('2010-05-01', '2010-05-31'), ('2010-06-01', '2010-06-30'), ('2010-07-01', '2010-07-31'), ('2010-08-01', '2010-08-31'), ('2010-09-01', '2010-09-30'), ('2010-10-01', '2010-10-31'), ('2010-11-01', '2010-11-30'), ('2010-12-01', '2010-12-31'), ('2011-01-01', '2011-01-31'), ('2011-02-01', '2011-02-28'), ('2011-03-01', '2011-03-31'), ('2011-04-01', '2011-04-30'), ('2011-05-01', '2011-05-31'), ('2011-06-01', '2011-06-30'), ('2011-07-01', '2011-07-31'), ('2011-08-01', '2011-08-31'), ('2011-09-01', '2011-09-30'), ('2011-10-01', '2011-10-31'), ('2011-11-01', '2011-11-30'), ('2011-12-01', '2011-12-31'), ('2012-01-01', '2012-01-31'), ('2012-02-01', '2012-02-29'), ('2012-03-01', '2012-03-31'), ('2012-04-01', '2012-04-30'), ('2012-05-01', '2012-05-31'), ('2012-06-01', '2012-06-30'), ('2012-07-01', '2012-07-31'), ('2012-08-01', '2012-08-31'), ('2012-09-01', '2012-09-30'), ('2012-10-01', '2012-10-31'), ('2012-11-01', '2012-11-30'), ('2012-12-01', '2012-12-31'), ('2013-01-01', '2013-01-31'), ('2013-02-01', '2013-02-28'), ('2013-03-01', '2013-03-31'), ('2013-04-01', '2013-04-30'), ('2013-05-01', '2013-05-31'), ('2013-06-01', '2013-06-30'), ('2013-07-01', '2013-07-31'), ('2013-08-01', '2013-08-31'), ('2013-09-01', '2013-09-30'), ('2013-10-01', '2013-10-31'), ('2013-11-01', '2013-11-30'), ('2013-12-01', '2013-12-31'), ('2014-01-01', '2014-01-31'), ('2014-02-01', '2014-02-28'), ('2014-03-01', '2014-03-31'), ('2014-04-01', '2014-04-30'), ('2014-05-01', '2014-05-31'), ('2014-06-01', '2014-06-30'), ('2014-07-01', '2014-07-31'), ('2014-08-01', '2014-08-31'), ('2014-09-01', '2014-09-30'), ('2014-10-01', '2014-10-31'), ('2014-11-01', '2014-11-30'), ('2014-12-01', '2014-12-31'), ('2015-01-01', '2015-01-31'), ('2015-02-01', '2015-02-28'), ('2015-03-01', '2015-03-31'), ('2015-04-01', '2015-04-30'), ('2015-05-01', '2015-05-31'), ('2015-06-01', '2015-06-30'), ('2015-07-01', '2015-07-31'), ('2015-08-01', '2015-08-31'), ('2015-09-01', '2015-09-30'), ('2015-10-01', '2015-10-31'), ('2015-11-01', '2015-11-30'), ('2015-12-01', '2015-12-31'), ('2016-01-01', '2016-01-31'), ('2016-02-01', '2016-02-29'), ('2016-03-01', '2016-03-31'), ('2016-04-01', '2016-04-30'), ('2016-05-01', '2016-05-31'), ('2016-06-01', '2016-06-30'), ('2016-07-01', '2016-07-31'), ('2016-08-01', '2016-08-31'), ('2016-09-01', '2016-09-30'), ('2016-10-01', '2016-10-31'), ('2016-11-01', '2016-11-30'), ('2016-12-01', '2016-12-31'), ('2017-01-01', '2017-01-31'), ('2017-02-01', '2017-02-28'), ('2017-03-01', '2017-03-31'), ('2017-04-01', '2017-04-30'), ('2017-05-01', '2017-05-31'), ('2017-06-01', '2017-06-30'), ('2017-07-01', '2017-07-31'), ('2017-08-01', '2017-08-31'), ('2017-09-01', '2017-09-30'), ('2017-10-01', '2017-10-31'), ('2017-11-01', '2017-11-30'), ('2017-12-01', '2017-12-31'), ('2018-01-01', '2018-01-31'), ('2018-02-01', '2018-02-28'), ('2018-03-01', '2018-03-31'), ('2018-04-01', '2018-04-30'), ('2018-05-01', '2018-05-31'), ('2018-06-01', '2018-06-30'), ('2018-07-01', '2018-07-31'), ('2018-08-01', '2018-08-31'), ('2018-09-01', '2018-09-30'), ('2018-10-01', '2018-10-31'), ('2018-11-01', '2018-11-30'), ('2018-12-01', '2018-12-31'), ('2019-01-01', '2019-01-31'), ('2019-02-01', '2019-02-28'), ('2019-03-01', '2019-03-31'), ('2019-04-01', '2019-04-30'), ('2019-05-01', '2019-05-31'), ('2019-06-01', '2019-06-30'), ('2019-07-01', '2019-07-31'), ('2019-08-01', '2019-08-31'), ('2019-09-01', '2019-09-30'), ('2019-10-01', '2019-10-31'), ('2019-11-01', '2019-11-30'), ('2019-12-01', '2019-12-31'), ('2020-01-01', '2020-01-31'), ('2020-02-01', '2020-02-29'), ('2020-03-01', '2020-03-31'), ('2020-04-01', '2020-04-30'), ('2020-05-01', '2020-05-31'), ('2020-06-01', '2020-06-30'), ('2020-07-01', '2020-07-31'), ('2020-08-01', '2020-08-31'), ('2020-09-01', '2020-09-30'), ('2020-10-01', '2020-10-31'), ('2020-11-01', '2020-11-30'), ('2020-12-01', '2020-12-31'), ('2021-01-01', '2021-01-31'), ('2021-02-01', '2021-02-28'), ('2021-03-01', '2021-03-31'), ('2021-04-01', '2021-04-30'), ('2021-05-01', '2021-05-31'), ('2021-06-01', '2021-06-30'), ('2021-07-01', '2021-07-31'), ('2021-08-01', '2021-08-31'), ('2021-09-01', '2021-09-30'), ('2021-10-01', '2021-10-31'), ('2021-11-01', '2021-11-30'), ('2021-12-01', '2021-12-31'), ('2022-01-01', '2022-01-31'), ('2022-02-01', '2022-02-28'), ('2022-03-01', '2022-03-31'), ('2022-04-01', '2022-04-30'), ('2022-05-01', '2022-05-31'), ('2022-06-01', '2022-06-30'), ('2022-07-01', '2022-07-31'), ('2022-08-01', '2022-08-31'), ('2022-09-01', '2022-09-30'), ('2022-10-01', '2022-10-31'), ('2022-11-01', '2022-11-30'), ('2022-12-01', '2022-12-31'), ('2023-01-01', '2023-01-31'), ('2023-02-01', '2023-02-28'), ('2023-03-01', '2023-03-31'), ('2023-04-01', '2023-04-30'), ('2023-05-01', '2023-05-31'), ('2023-06-01', '2023-06-30'), ('2023-07-01', '2023-07-31'), ('2023-08-01', '2023-08-31'), ('2023-09-01', '2023-09-30'), ('2023-10-01', '2023-10-31'), ('2023-11-01', '2023-11-30'), ('2023-12-01', '2023-12-31')]