In [7]:
import pandas as pd
df = pd.read_csv("/Users/jonathanzeh/Library/CloudStorage/OneDrive-Personal/BA_Thesis/BA_coding/datasets/eikon_data/index_constituents_data/formated_constituents_stoxx_europe_600.csv")

df

              date        stock_RIC  index_member
0       2010-01-31  0MW4EUR.xbo^K15             0
1       2010-02-28  0MW4EUR.xbo^K15             0
2       2010-03-31  0MW4EUR.xbo^K15             0
3       2010-04-30  0MW4EUR.xbo^K15             0
4       2010-05-31  0MW4EUR.xbo^K15             0
...            ...              ...           ...
197387  2023-09-29           ZURN.S             1
197388  2023-10-31           ZURN.S             1
197389  2023-11-30           ZURN.S             1
197390  2023-12-29           ZURN.S             1
197391  2024-01-31           ZURN.S             1

[197392 rows x 3 columns]

In [16]:
#unqiue companies
print(1168*12*14)

#unique observations
print(len(pd.unique(df["stock_RIC"])))

196224
1168

In [17]:
start_date = '2010-01-01'
end_date = '2024-01-01'

import datetime

print(datetime.date(start_date) < datetime.date(end_date))

TypeError: 'str' object cannot be interpreted as an integer